<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Insert title here</title>
</head>
<body>
	<h3>강의 조회 화면</h3>
	<form name="form1" method="get" action="/main/classInfo">
	<table>
    	<tr>
    		<td>과목코드 입력</td><input type=button value="뒤로 가기" OnClick="javascript:history.back(-1)">
        	<td><input type="text" name="code"></td>
        	<td><input type="submit" value="조회하기"></td>
    	</tr>
	</table>
	</form>
	
	
	
</body>
</html>