<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta http-equiv= "Content-Type" content = " text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h3>메인 화면</h3>
	<p>환영합니다. [[${user}]]님</p>
	<p th:text = "${new java.util.Date().toString()}"></p>
	<form name="form1" method="get" action="/main/application">
	<table>
    	<tr>
        	<td><input type="submit" value="수강 신청"></td>
    	</tr>
	</table>
	</form>
	<form name="form3" method="get" action="/main/classInfo">
	<table>
    	<tr>
        	<td><input type="submit" value="강의 조회"></td>
    	</tr>
	</table>
	</form>
	<form name="form2" method="get" action="/logout">
	<table>
    	<tr>
        	<td><input type="submit" value="로그아웃"></td>
    	</tr>
	</table>
	</form>
</body>
</html>